# Python / FastAPI
src/api/venv/
src/api/__pycache__/
src/api/uploads/
src/api/medidiagnose.db
src/api/*.sqlite3
src/api/models/


# Backend
src/api/venv/
src/api/models/
src/api/uploads/
*.db
src/chatbot/.env
# Frontend
frontend/node_modules/
frontend/.next/

# System & IDE
__pycache__/
*.pyc
# Logs
*.log

# Next.js / React
frontend/.next/
frontend/node_modules/


# Chatbot
src/chatbot/__pycache__/

# OS / IDE
.DS_Store
.vscode/
.env
*.env.local

data/
src/mlruns/
src/mlflow.db
src/venv/
src/models/cnn_parkinson.h5
